.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.idea/editor.xml
.idea/modules.xml
.idea/NOVEL_25.iml
.idea/workspace.xml
NOVEL/x64/Debug/Main.obj
NOVEL/x64/Debug/NOVEL.exe.recipe
NOVEL/x64/Debug/NOVEL.ilk
NOVEL/x64/Debug/NOVEL.log
NOVEL/x64/Debug/vc143.idb
NOVEL/x64/Debug/vc143.pdb
NOVEL/x64/Debug/NOVEL.tlog/CL.command.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/Cl.items.tlog
NOVEL/x64/Debug/NOVEL.tlog/CL.read.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/CL.write.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/link.command.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/link.read.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/link.secondary.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/link.write.1.tlog
NOVEL/x64/Debug/NOVEL.tlog/NOVEL.lastbuildstate
NOVEL/Main.exe
x64/Debug/NOVEL.exe
x64/Debug/NOVEL.pdb
